name: PaperReader

on: 
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Run test.py
        run: python test.py
        env:
          USERNAME: ${{ secrets.USERNAME }}
